@using RL.Models;

@model IEnumerable<UpdateBookingCODate>


@{
    ViewBag.Title = "UpdateBookingCheckOutDate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UpdateBookingCheckOutDate</h2>

<body>
    <div>
        <p>This program updates the Check Out Date(Occupancy End Date) via a CSV file. This will allow the student access to the room and building StarRez. </p>
        <p>An example of how the CSV file is listed below. </p>
        <p><Bold>The Column names must be named exactly like the example and in the same order.</Bold></p>
    </div>

    <div>
        <div>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>EntryID</th>
                    <th>BookingID</th>
                    <th>NewCheckOutDate</th>
                    <th>Building</th>
                    <th>RoomSpace</th>
                    <th>Status</th>

                </tr>
                <tr>
                    <td>51134</td>
                    <td>130347</td>
                    <td>1/06/2021</td>
                    <td>West Campus Apts</td>
                    <td>West Campus 0604B-1</td>
                    <td></td>
                </tr>
                <tr>
                    <td>46278</td>
                    <td>120578</td>
                    <td>12/31/2020</td>
                    <td>NGW Bayou Hall</td>
                    <td>Bayou 4031-A</td>
                    <td></td>

                </tr>
                <tr>
                    <td>45137</td>
                    <td>120628</td>
                    <td>1/06/2021</td>
                    <td>NGW Bayou Hall</td>
                    <td>NGW Bayou 3055-B</td>
                    <td></td>
                </tr>
                <tr>
                    <td>41125</td>
                    <td>120641</td>
                    <td>1/06/2021</td>
                    <td>NGW Bayou Hall</td>
                    <td>Bayou 3006-A</td>
                    <td></td>

                </tr>
            </table>
        </div>

    </div>

    <div>
        <hr />
        <br />
        @using (Html.BeginForm("UpdateBookingCheckOutDate", "TeamIS", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="postedFile" />
            <input type="submit" value="Import" />
            <p>Enter your PawsID <input type="text" name="username" /></p>
            <p>Enter your Password<input type="password" name="password" /></p>
        }
    </div>

    <div>

        @if (Model.Count() > 0)
        {

            <table class="table table-bordered table-bordered">
                <tr>
                    <th>EntryID</th>
                    <th>Booking ID</th>
                    <th>Check Out Date</th>
                    <th>Building</th>
                    <th>RoomSpace</th>
                    <th>Status</th>
                </tr>

                @foreach (UpdateBookingCODate B in Model)
                {
                    <tr>
                        <td>@B.EntryID</td>
                        <td>@B.BookingID</td>
                        <td>@B.NewCheckOutDate</td>
                        <td>@B.Building</td>
                        <td>@B.RoomSpace</td>
                        <td>@B.Status</td>
                    </tr>

                }

            </table>
        }
    </div>
    <div>

    </div>
</body>


