@using RL.Models;

@model IEnumerable<AddMaxLocation>

@{
    ViewBag.Title = "AddMaximoLocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddMaximoLocation</h2>

<body>
    <div>
        <p>This program add the Maximo Location on a RoomSpace Customfield via a CSV file. </p>
        <p>An example of how the CSV file is listed below. </p>
        <p><Bold>The Column names must be named exactly like the example and in the same order.</Bold></p>
    </div>

    <div>
        <div>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Building</th>
                    <th>RoomSpaceID</th>
                    <th>RoomSpace</th>
                    <th>MaximoLocation</th>
                    <th>Status</th>

                </tr>
                <tr>
                    <td>Acadian Hall</td>
                    <td>6</td>
                    <td>Acdian 0124-1</td>
                    <td>ACD-01-0124</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Cedar Hall</td>
                    <td>13513</td>
                    <td>Cedar 1109A-1</td>
                    <td>CED-01-1109A</td>
                    <td></td>

                </tr>
                <tr>
                    <td>Broussard Hall</td>
                    <td>7132</td>
                    <td>Broussard Hall 0134-1</td>
                    <td>BRO-01-0134</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Blake Hall</td>
                    <td>460</td>
                    <td>Blake 0155-1</td>
                    <td>BLA-01-0155</td>
                    <td></td>

                </tr>
            </table>
        </div>

    </div>
    <div>
        <hr />
        <br />
        @using (Html.BeginForm("AddMaximoLocation", "ResEd", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="postedFile" />
            <input type="submit" value="Import" />
            <p>Enter your PawsID <input type="text" name="username" /></p>
            <p>Enter your Password<input type="password" name="password" /></p>
        }
    </div>

    <div>

        @if (Model.Count() > 0)
        {

            <table class="table table-bordered table-bordered">
                <tr>
                    <th>Building</th>
                    <th>RoomSpace ID</th>
                    <th>Room Space Description</th>
                    <th>Maximo Location</th>
                    <th>Status</th>
                </tr>

                @foreach (AddMaxLocation R in Model)
                {
                    <tr>
                        <td>@R.Building</td>
                        <td>@R.RoomSpaceID</td>
                        <td>@R.RoomSpace</td>
                        <td>@R.MaximoLocation</td>
                        <td>@R.Status</td>
                    </tr>

                }

            </table>
        }
    </div>

</body>